<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>

	<div class="conteiner">
		<div class="row">
			<div class="col-lg-6">
				<nav class="navbar bg-white">
				  <div class="container">
				    <a class="navbar-brand" href="../index.html">
				      <img src="../assets/img/auto.jpg" alt="Bootstrap" width="150" height="150">
				    </a>
				  </div>
				</nav>
			</div>

			<div class="col-lg-6">
				<nav class="navbar navbar-expand-lg bg-white">
				  <div class="container-fluid">
				  	<div class="collapse navbar-collapse" id="navbarNav">
				      <ul class="navbar-nav">
				      	<li class="nav-item">
				        	<a class="nav-link" aria-current="page" href="FinanciaTuAuto.html">Financia Tu Auto</a>
				        </li>
				        <li class="nav-item">
				          <a class="nav-link" href="CompraTuAuto.html">Comprá Tu Auto</a>
				        </li>
				        <li class="nav-item">
				          <a class="nav-link" href="vendeTuAuto.html">Vende Tu Auto</a>
				        </li>
				        <li class="nav-item dropdown">
				          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            Nosotros
				          </a>
				          <ul class="dropdown-menu">
				            <li><a class="dropdown-item" href="sedes.html">Sedes</a></li>
				            <li><a class="dropdown-item" href="testimoniales.html">Testimoniales</a></li>
				            <li><a class="dropdown-item" href="#">Blog</a></li>
				          </ul>
				        </li>
				      </ul>
				    </div>
				  </div>
				</nav>
			</div>
		</div>



		<!--footer-->
		<div class="row">
			<div class=" col-lg-4">
				<img src="../assets/img/auto.jpg">
			</div>
			<div class="col-lg-4">
				<a href="">Compra Tu Auto</a><br>
				<a href="">Financiamiento</a><br>
				<a href="">Vende Tu Auto</a><br>
			</div>

			<div class="col-lg-4">
				<a href="">Preguntas Frecuentes</a><br>
				<a href="">Blog</a><br>
				<a href="">Testimoniales</a><br>
			</div>
		</div>

	</div>


	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
	
</body>
</html>